@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*Portfolio*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
:root{
  --background-color-light: rgb(227, 228, 220);
  --background-color-dark: rgb(24, 23, 31);
  --font-color-dark: #fff;
  --font-color-light: #000;
  --footer-clr: rgb(24, 23, 31);
  --footer-txt: #fff !important;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.light-theme {
  --bg: var(--background-color-light);
  --fontcolor: var(--font-color-light);
  --header-color: rgba(15 15 15 / 90%);
  --header-txt: #fff;
  --section-clr: rgb(235, 236, 228);
  --tldr-bg: rgb(225, 227, 219);
  --tldr-txt: rgb(0 0 0 / 70%);
}

.dark-theme {
  --bg: var(--background-color-dark);
  --fontcolor: var(--font-color-dark);
  --header-color: rgba(240 240 240 / 90%);
  --header-txt: #fff;
  --section-clr: rgb(20, 19, 27);
  --header-scroll-color: #000;
  --tldr-bg: rgb(29, 28, 36);
  --tldr-txt: rgb(255 255 255 / 70%);
}

/* Text selection color */
::-moz-selection {
  color: #fff;
  background: #42806E;
}

::selection {
  color: #fff;
  background: #42806E;
}

body {
  background: url(../media/background.jpg) center center / cover no-repeat;
  background-attachment: fixed;
  color: var(--fontcolor);
  transition: all 150ms ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.overlay1, .overlay2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
  rgba(0, 0, 0, 0.73) 17%,
   rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
     rgba(0, 0, 0, 0.4) 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*Header*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: transparent;
  color: var(--header-txt);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  z-index: 5000;
}

.header {
  margin-top: 10px;
  transition: all 500ms ease-in-out;
}

.scrolled {
  background-color: var(--header-color);
  height: 52px;
  .header {
    margin-top: 0px;
    color: var(--header-scroll-color);
  }
  .header nav ul li a {
    color: var(--header-scroll-color);
  }
}

.theme {
  color: #42806E;
  font-size: 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border-radius: 25px;
  transition: all 150ms ease-in-out;
}

.theme:hover {
  background-color: #42806E;
  color: #fff !important;
}

.header h2 {
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 0.4px;
  cursor: default;
}

.header nav ul li{
  display: inline;
  line-height: 52px;
}

.header nav ul li a {
  display: inline-block;
  color: var(--header-txt);
  transition: color 500ms ease-in-out, background-color 200ms ease-in-out;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
}
.header nav ul li a:hover, .header nav ul li a.active {
  background-color: #42806E;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*banner*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.banner {
  background: url("../media/banner.jpg") center center / cover no-repeat;
  height: 49vw;
  width: 100%;
  transition: all ease-in-out;
  position: relative;
}

.banner .overlay1 {
  height: 100%;
}

.banner .overlay1 .banner-txt h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff !important;
}


/* banner h1 animation */
.animateH1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* para animation */
.banner .overlay1 .banner-txt p {
  text-align: center;
  color: rgba(255 255 255 / 90%) !important;
  font-size: 18px;
  padding-top: 16px;
  font-family: "Anek Devanagari", sans-serif;
}

/* banner text animation */
.textAnimate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px); /* Start below the final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the final position */
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px); /* Start below the final position */
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0); /* End at the final position */
  }
}

.banner .clickable-overlay {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  font-size: 22px;
  z-index: 200;
  color: rgb(255 255 255 / 70%);
  transition: all 250ms ease-in-out;
  padding: 10px;
  border: 1px solid transparent;
}

.banner .clickable-overlay:hover {
  color: #fff;
  border: 1px solid #000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*about*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.about {
  background-color: var(--section-clr);
  padding: 60px 0px;
}

.about .inside-about h1 {
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 32px;
  margin-bottom: 30px;
}

.about-box {
  justify-content: center;
  align-items: center;
}

.about .inside-about .about-box img{
  width: auto;
  height: 229px;
  border-radius: 14px;
}

.about .inside-about .about-box p {
  text-align: left;
  word-wrap: break-word;
  width: 55ch;
  margin-right: 70px;
  line-height: 21px;
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.about .inside-about .about-box p span {
  display: block;
  padding-top: 20px;
}

.about .tldr {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--tldr-bg);
  border-radius: 14px;
}

.about .tldr h2 {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: var(--tldr-txt);
  margin-bottom: 10px;
}

.about .tldr .icons-tldr {
  padding: 22px 30px;
}

.about .tldr .icons-tldr .fa-solid {
  font-size: 32px;
  color: var(--tldr-txt);
  margin-bottom: 8px;
}

.about .tldr .icons-tldr p {
  font-size: 16px;
  color: var(--tldr-txt);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*passion*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.passion {
  background-color: var(--bg);
  padding: 60px 0px;
  

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*experience*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.experience {
  background-color: var(--section-clr);
  padding: 60px 0px;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*projects*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.projects {
  background-color: var(--bg);
  padding: 60px 0px;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*resume-link*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.resume-link .overlay2 {
  padding: 80px 0px;
}

.resume-link .overlay2 h1 {
  color: #fff !important;
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
}

.resume-link .overlay2 a {
  color: #fff !important;
  border: 1px solid #fff;
  padding: 10px 16px;
  margin-top: 22px;
  transition: all 150ms ease-in-out;
}

.resume-link .overlay2 a:hover {
  padding: 10px 26px;
  background-color: rgb(255 255 255 / 10%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*get-in-touch*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.get-in-touch {
  background-color: var(--section-clr);
  padding: 40px 0px;
}

.get-in-touch h1 {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 14px;
  border-bottom: 2px solid #42806E;
}

.get-in-touch p {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 50ch;
  padding: 14px 0px;
}

.get-in-touch form {
  background-color: transparent;
  width: 500px;
}

.get-in-touch form > * {
  display: block;
  margin: 16px;
  border: 1px solid var(--fontcolor);
  background-color: var(--bg);
  color: var(--fontcolor);
  padding: 15px;
  width: 100%;
  border-radius: 6px;
}

.get-in-touch form textarea {
  height: 150px;
  resize: none;
  overflow: scroll;
}

.get-in-touch form button {
  display: block;
  text-align: center;
  max-width: 170px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  padding: 12px 0px;
  color: #42806E;
  border: 2px solid #42806E !important;
  border-radius: 6px;
  position: relative;
  transition: all 250ms ease;
  background: none;
}

.get-in-touch form button:hover {
  color: #f2f2f2;
  background-color: #42806E;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*footer*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  background-color: var(--footer-clr);
  color: var(--footer-txt);
  transition: all 150ms ease-in-out;
  width: 100%;
  margin-top: auto;
  height: 200px;
  padding: 28px 0px;
}

.footer-container {
  height: 100%;
}

.footer-icon {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(66 128 110 / 20%);
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}

.footer-icon:hover {
  background-color: #42806E;
  border-radius: 25px;
  color: #fff !important;
}

.copyright {
  margin-top: auto;
  letter-spacing: 0.2px;
  color: rgba(255 255 255 / 80%);
  text-align: center;
  font-size: 16px;
}

.copyright .fa-space-awesome {
  font-size: 30px !important;
  transform: translate(-10px, 8px);
}

.copyright .fa-space-awesome::after {
  content: "Lift-off in 3, 2, 1, fire!";
  display: block;
  visibility: hidden;
  font-size: 16px !important;
  transform: translateY(20px);
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
  transition: all 150ms ease-in-out;
}

.copyright .fa-space-awesome:hover::after {
  visibility: visible;
}

.footer-container .go-up a, 
.footer-container .go-up p {
  letter-spacing: 0.2px;
  padding: 8px 10px;
  color: rgba(255 255 255 / 80%);
  text-align: center;
  font-size: 16px;
}

.footer-container .go-up p {
  display: inline-block;
  border-left: 1px solid #fff;
  padding-right: 0px !important;
}

/* data tool tip */
a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 16px;
  color: #000;
  border-radius: 5px;
  font-size: 0.9rem;
  bottom: 0;
  left: -50%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms,bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*media queries*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (min-width: 1600px) {
  .banner {
    height: 57vh;
  }
}

