@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*Portfolio*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
:root{
  --background-color-light: rgb(227, 228, 220);
  --background-color-dark: rgb(24, 23, 31);
  --font-color-dark: #fff;
  --font-color-light: #000;
  --footer-clr: rgb(24, 23, 31);
  --footer-txt: #fff !important;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.light-theme {
  --bg: var(--background-color-light);
  --fontcolor: var(--font-color-light);
  --header-color: rgba(220 220 220 / 90%);
  --header-txt: #fff;
  --header-scroll-color: #000;
  --section-clr: rgb(235, 236, 228);
  --tldr-bg: rgb(225, 227, 219);
  --tldr-txt: rgb(0 0 0 / 70%);
  --project-bg: rgb(66 128 110 / 20%);
  --border-theme: rgba(0 0 0 / 30%);
  --icon-bg: rgb(66 128 110 / 50%);
}

.dark-theme {
  --bg: var(--background-color-dark);
  --fontcolor: var(--font-color-dark);
  --header-color: rgba(15 15 15 / 90%);
  --header-txt: #fff;
  --section-clr: rgb(20, 19, 27);
  --header-scroll-color: #fff;
  --tldr-bg: rgb(29, 28, 36);
  --tldr-txt: rgb(255 255 255 / 70%);
  --project-bg: #272831;
  --border-theme: rgba(255 255 255 / 30%);
  --icon-bg: rgb(66 128 110 / 20%);
}

/* Text selection color */
::-moz-selection {
  color: #fff;
  background: #42806E;
}

::selection {
  color: #fff;
  background: #42806E;
}

body {
  position: relative;
  background: url(../media/background.jpg) center center / cover no-repeat;
  background-attachment: fixed;
  color: var(--fontcolor);
  transition: all 150ms ease-in-out;
  font-family: "Open Sans", sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 19, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  background: 
    linear-gradient(45deg,#60B99A 50%,#0000 0),
    linear-gradient(45deg,#0000 50%,#60B99A 0),
    linear-gradient(-45deg,#f77825 50%,#0000 0),
    linear-gradient(-45deg,#0000 50%,#f77825 0),
    linear-gradient(#554236 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l17 1s infinite alternate;
}
@keyframes l17{
  0%,
  20%  {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%;
        background-size:50% 50%,50% 50%,50% 50%,50% 50%,50% 50%}
  80%,
  100% {background-position:0  100%,100%  0,100% 100%,0   0  ,50% 50%;
        background-size:50% 50%,50% 50%,50% 50%,50% 50%,100% 100%}
}


.loader h1 {
  font-size: 40px;
  color: #ddd;
  font-weight: 500;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInAnimation;
  animation-name: fadeInAnimation;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.overlay1, .overlay2, .overlay3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
  rgba(0, 0, 0, 0.73) 17%,
   rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
     rgba(0, 0, 0, 0.4) 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*Header*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  background-color: transparent;
  color: var(--header-txt);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  z-index: 5000;
}

.header {
  margin-top: 10px;
  transition: all 500ms ease-in-out;
}

.scrolled {
  background-color: var(--header-color);
  height: 52px;
  .header {
    margin-top: 0px;
    color: var(--header-scroll-color);
  }
  .header nav ul li a {
    color: var(--header-scroll-color);
  }
}

.theme {
  color: #42806E;
  font-size: 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border-radius: 25px;
  transition: all 500ms ease-in-out;
}

.theme:hover {
  background-color: #42806E;
  color: #fff !important;
  transition: all 150ms ease-in-out;
}

.header h2 {
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 0.4px;
  cursor: default;
}

.header nav ul li{
  display: inline;
  line-height: 52px;
}

.header nav ul li a {
  display: inline-block;
  color: var(--header-txt);
  transition: color 500ms ease-in-out, background-color 200ms ease-in-out;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.header nav ul li a:hover, .header nav ul li a.active {
  background-color: #42806E;
}

.header nav ul li a.hovered {
  background: none;
  color: #42806E !important;
  transition: color 150ms ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*banner*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.banner {
  background: url("../media/banner.jpg") center center / cover no-repeat;
  height: 49vw;
  width: 100%;
  transition: all ease-in-out;
  position: relative;
}

.banner .overlay1 {
  height: 100%;
}

.banner .overlay1 .banner-txt h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff !important;
}


/* banner h1 animation */
.animateH1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* para animation */
.banner .overlay1 .banner-txt p {
  text-align: center;
  color: rgba(255 255 255 / 90%) !important;
  font-size: 18px;
  padding-top: 16px;
  font-family: "Anek Devanagari", sans-serif;
}

/* banner text animation */
.textAnimate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px); /* Start below the final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the final position */
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px); /* Start below the final position */
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0); /* End at the final position */
  }
}

.banner .clickable-overlay {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  font-size: 22px;
  z-index: 200;
  color: rgb(255 255 255 / 70%);
  transition: all 250ms ease-in-out;
  padding: 10px;
  border: 1px solid transparent;
}

.banner .clickable-overlay:hover {
  color: #fff;
  border: 1px solid #000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*about*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.about {
  background-color: var(--section-clr);
  padding: 40px 0px;
  transition: all 150ms ease-in-out;
}

.about .inside-about h1 {
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 32px;
  margin-bottom: 30px;
  padding: 14px;
  border-bottom: 2px solid #42806E;
}

.about-box {
  justify-content: center;
  align-items: center;
  height: 262px;
}

.about .inside-about .about-box img{
  width: auto;
  height: 100%;
  border-radius: 6px;
}

.about .inside-about .about-box p {
  text-align: left;
  word-wrap: break-word;
  width: 55ch;
  margin-right: 70px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.about .inside-about .about-box p span {
  display: block;
  padding-top: 20px;
}

.about .tldr {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--tldr-bg);
  border-radius: 14px;
}

.about .tldr h2 {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: var(--tldr-txt);
  margin-bottom: 10px;
}

.about .tldr .icons-tldr {
  padding: 22px 30px;
}

.about .tldr .icons-tldr .fa-solid {
  font-size: 32px;
  color: var(--tldr-txt);
  margin-bottom: 8px;
}

.about .tldr .icons-tldr p {
  font-size: 16px;
  color: var(--tldr-txt);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*passion*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.passion {
  background-color: var(--bg);
  padding: 60px 0px;
  transition: all 150ms ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*experience*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.experience {
  background-color: var(--bg);
  padding: 60px 0px;
  transition: all 150ms ease-in-out;
}

.experience h1 {
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*projects*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.projects {
  background-color: var(--bg);
  padding: 40px 0px;
  transition: all 150ms ease-in-out;
}

.projects .inside-projects {
  margin-inline: auto;
  width: min(100% - 30px, 1322px);
}

.projects .inside-projects h1 {
  width: 206px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 32px;
  margin: 0 auto 22px auto;
  padding: 14px;
  border-bottom: 2px solid #42806E;
}

.projects .inside-projects .project-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects .inside-projects .project-container .project-div {
  position: relative;
  z-index: 1;
  padding: 8px 10px;
  display: inline-block;
}

.projects .inside-projects .project-container .project-div::after {
  content: "";
  position: absolute;
  background-color: var(--project-bg);
  top: -0.25rem;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  transform: scaleX(0.95) scaleY(0.90);
  transform-origin: left bottom;
  transition: all 200ms ease-in;
}

.projects .inside-projects .project-container .project-div:hover::after {
  transform: scaleX(1) scaleY(1);
}

/* carousel */
.projects .inside-projects .project-container .project-div .carousel {
  height: 200px;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
  border-radius: 10px;
  background-color: #1e1f26;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_track-container {
  position: relative;
  height: 100%;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_track-container .carousel_track {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: transform 250ms ease-in;
  position: relative;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_track-container .carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 100%;
  flex: 0 0 100%;
  height: 100%;
  z-index: 1000;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_image {
  width: auto;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  z-index: 2000;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button.hidden {
  display: none;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button--left {
  left: 10px;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button--right {
  right: 10px;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button i {
  font-size: 25px;
  color: #aaa;
  transition: color 150ms ease-in-out;
}

.projects .inside-projects .project-container .project-div .carousel .carousel_button i:hover {
  color: #42806E;
}
/* carousel done */

.projects .inside-projects .project-container .project-div .hat {
  max-width: 400px;
}

.projects .inside-projects .project-container .project-div .hat h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: var(--fontcolor) !important;
}

.projects .inside-projects .project-container .project-div .hat .hatp p {
  background-color: #42806E;
  color: var(--footer-txt);
  line-height: 24px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 12px;
  border-radius: 14px;
  text-align: center;
  font-weight: 600;
  cursor: default;
}

.projects .inside-projects .project-container .project-div .project-btn {
  margin-top: 10px;
  display: block;
  text-align: center;
  max-width: 170px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 14px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--fontcolor);
  border: 2px solid #42806E !important;
  border-radius: 6px;
  position: relative;
  transition: all 150ms ease-in-out;
  background: none;
}

.projects .inside-projects .project-container .project-div .project-btn:hover {
  color: #fff;
  background-color: #42806E;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*project-interface*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body .project-interface {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh - 80px);
  width: 80%;
  z-index: 5;
}

.overlay3  {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*resume-link*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.resume-link .overlay2 {
  padding: 80px 0px;
}

.resume-link .overlay2 h1 {
  color: #fff !important;
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
}

.resume-link .overlay2 a {
  color: #fff !important;
  border: 1px solid #fff;
  padding: 10px 16px;
  margin-top: 22px;
  transition: all 150ms ease-in-out;
}

.resume-link .overlay2 a:hover {
  padding: 10px 26px;
  background-color: rgb(255 255 255 / 10%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*get-in-touch*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.get-in-touch {
  background-color: var(--section-clr);
  padding: 40px 0px;
  transition: all 150ms ease-in-out;
}

.get-in-touch h1 {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 14px;
  border-bottom: 2px solid #42806E;
}

.get-in-touch p {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 50ch;
  padding: 14px 0px;
}

.get-in-touch form {
  background-color: transparent;
  width: 500px;
}

.get-in-touch form > * {
  display: block;
  margin: 16px;
  border: 1px solid var(--fontcolor);
  background-color: var(--tldr-bg);
  color: var(--fontcolor);
  padding: 15px;
  width: 100%;
  border-radius: 6px;
}

.get-in-touch form input[type="text"]:focus,
.get-in-touch form input[type="email"]:focus,
.get-in-touch form textarea:focus {
  background-color: rgba(127 127 127 / 20%);
}

.get-in-touch form textarea {
  height: 150px;
  resize: none;
  overflow: scroll;
  scrollbar-width: none;
}

.get-in-touch form button {
  display: block;
  text-align: center;
  max-width: 170px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  padding: 12px 0px;
  color: #42806E;
  border: 2px solid #42806E !important;
  border-radius: 6px;
  position: relative;
  transition: all 250ms ease-in-out;
  background: none;
}

.get-in-touch form button:hover {
  color: #f2f2f2;
  background-color: #42806E;
}

.get-in-touch form.remove-display {
  display: none !important;
}

.get-in-touch .thankyou-msg {
  display: none;
}

.get-in-touch .thankyou-msg.show-display{
  display: block !important;
}

.get-in-touch .thankyou-msg p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 60px 0px;
  font-weight: 400;
  text-align: center;
  width: 50ch;
  color: var(--fontcolor);
  line-height: 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*footer*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  background-color: var(--section-clr);
  color: var(--fontcolor);
  transition: all 150ms ease-in-out;
  width: 100%;
  margin-top: auto;
  height: auto;
}

.footer-container {
  width: min(100% - 30px, 1322px);
  margin-inline: auto;
  border-top: 1px solid var(--border-theme);
  padding: 20px 0px 60px 0px;
}

.copyright {
  letter-spacing: 0.2px;
  color: var(--tldr-txt);
  text-align: center;
  font-size: 13px;
  padding: 8px 10px;
}

.end-box {
  width: 40%;
}

.footer-container .go-up a, 
.footer-container .go-up p {
  letter-spacing: 0.2px;
  padding: 8px 10px;
  color: var(--tldr-txt);
  text-align: center;
  font-size: 13px;
}

.footer-container .go-up p {
  display: inline-block;
  padding-right: 0px !important;
}

.footer-icon {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--icon-bg);
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}

.footer-icon:hover {
  background-color: #42806E;
  border-radius: 25px;
  color: #fff !important;
}

/* data tool tip */
a[data-tool-tip] {
  position: relative;
  display: inline-block;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  visibility: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -10%;
  background-color: #fff;
  padding: 13px;
  color: #000;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
  visibility: hidden;
  transition: bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  visibility: visible;
  bottom: 10%;
}


.middle-fa {
  color: rgba(255 255 255 / 80%);
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 5000;
}

.middle-fa .fa-space-awesome {
  font-size: 20px !important;
  transition: all ease-in-out 150ms;
}

.middle-fa .fa-space-awesome:hover {
  cursor: pointer;
  color: #42806E;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    /*media queries*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (min-width: 1600px) {
  .banner {
    height: 57vh;
  }
}

@media (max-width: 1024px) {
  .projects .inside-projects .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .projects .inside-projects .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

